*{
    background-color: #2D066B;
    color: #99A3A4;
}
section {
    width: 100%;
    border: 5px solid #99A3A4;
    padding: 5px 5px 5px 5px;
}
h2 {
    text-align: center;
    text-decoration: underline;
    padding: 10px;
}
img {
    background-color: #99A3A4;
}