<div class="container-fluid">
    <div class="row">
        <div class="aboutme col-sm-12 col-md-12 col-lg-12">
            <h2>About Me</h2>
            <p>Soy Licenciada en Administración y Desarrolladora FullStack Jr. <br/>
                Luego de ingresar al área de RRHH en una empresa de tecnologia, me di cuenta que queria aportar algo al nuevo mundo digital
                y por ello ingrese al mundo de la programación<br/>
                En mi tiempo libre me dedico a seguir capacitandome en el mundo de la programación, estudiando inglés y haciendo ruuning. <br/>
                Tambien me gusta mirar series, peliculas y leer libros.<br/>
                Amo viajar y conocer nuevas culturas, pasar tiempo con mi familia y mis michis.</p>
        </div>
    </div>
</div>
