<div class="info row">
    <div class="col-sm-6 col-md-6 col-lg-6" id="info">
        <h1>Experience</h1>
        <ul>
        <h4>AVALITH | HR ASSISTANT</h4>
        <h5>Julio. 2020 - Actualidad</h5>
        
            <li>Gestión de ingreso de colaboradores</li>
            <li>Gestión de novedades para liquidación</li>
            <li>Gestión y coordinación de beneficios y regalos en Argentina y Ecuador</li>
            <li>Relevamiento y armado de Procesos Internos </li>
        </ul>  
        
        <ul>
        <h4>GRUPO FAVA | ADMINISTRATIVA DE RRHH</h4>
        <h5>Junio. 2018 - Julio 2020</h5>        
        
            <li>Gestión de ingreso de personal</li>
            <li>Gestión de novedades para liquidación</li>
            <li>Liquidación de comisiones de vendedores</li>
            <li>Liquidación de sueldos (CCT 130/75) e impresión de recibos </li>
            <li>Confección del F.931 a través de aplicativo de Libro de Sueldos Digital</li>
            <li>Generación de asientos contables</li>
            <li>Liquidaciones finales y confección de certificados legales.</li>
            <li>Uso de Tango Astor</li>    
        </ul>

        <ul>
        <h4>ALVAREZ ARGÜELLES HOTELES | ADMINISTRATIVA DE RRHH</h4>
        <h5>Julio 2016 - Junio 2018</h5>        
        
            <li>Confección de legajos</li>
            <li>Control de ausentismo</li>
            <li>Gestión de novedades</li>
            <li>Liquidación de quincenas y mensuales</li>
            <li>Denuncia a ART</li>
            <li>Cargas sociales</li>
            <li>Confección de libro sueldos</li>
            <li>Uso de Payroll</li>        
        </ul>

        <h4>TOYOMAR | ADMINISTRATIVA</h4>
        <h5>Febrero 2015 - Abril 2016</h5>        
        <ul>
            <li>Atención a proveedores</li>
            <li>Conciliación de cuentas</li>
            <li>Atención telefónica</li>
            <li>Gestión de pagos y cobranzas</li>
            <li>Data Entry</li>
            <li>ABM</li>
        </ul>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6" id="info">
        <h1>Education</h1>

        <ul>
            <h3>LICENCIADA EN ADMINISTRACIÓN </h3>
            <h4>UNIVERSIDAD NACIONAL DE MAR DEL PLATA</h4>
            <h5>Finalizado Julio 2018</h5><br><br>        
            
            <h3>Bachiller en Economía y Gestión de las Organizaciones </h3>
            <h4>Instituto Presbítero Mauro Golé - Maipú</h4>
            <h5>Finalizado 2009 - Promedio General de 9,13/10.</h5><br><br> 

            <h3>Curso de Desarrollo Web Full Stack (HTML,CSS, Javascript, Java)</h3>
            <h4>Argentina Programa</h4>
            <h5>Finalizado Mayo 2022</h5><br><br>
        </ul>        
    </div>

</div>